.Header {
    padding: 20px;
    min-height:80px;
    background-color: rgb(132, 207, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 28px;
    
    .Link{
        color: black;
        text-decoration: none;
        text-align: center;
    }
}